.container {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.timer {
  user-select: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 2rem;
}

.timer__times {
  display: inline-flex;
  gap: 1rem;
}

.controls {
  display: flex;
  gap: 1rem;
}
